<div class="container">
  <div>
    <h2 class="heading">List Sorter</h2>
  </div>
  <label for="sort">Sort By:</label>
  <select id="sort" #sort (change)="onChange(sort.value)">
    <option value="defalt">Default</option>
    <option value="az">A - Z (Alphabetical)</option>
    <option value="za">Z - A (Reverse Alphabetical)</option>
    <option value="length">Length (Shortest First)</option>
  </select>

  <ul class="list">
    @for (fruit of fruits(); track $index) {
      <li class="list-item">{{ fruit }}</li>
    }
  </ul>
</div>
