header,
nav,
main,
aside,
footer {
  padding: 12px;
  font-weight: bold;
}

header {
  background-color: tomato;
  height: 60px;
}

nav {
  background-color: coral;
  width: 100px;
}

main {
  background-color: moccasin;
}

aside {
  background-color: sandybrown;
  width: 100px;
}

footer {
  background-color: slategray;
  height: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.columns {
  display: flex;
  flex: 1 1 0;
}

.columns main {
  flex: 1 1 0;
}
